@import "../../../assets/scss/variables.scss";

.header{
    display: flex;
    align-items: center;
    background-image: $background-color !important;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 32px;
    filter: invert(1);
}

.header .title-group {
    padding-left: 25px;
    display: flex;
    align-items: center;
    color: $font-color-highlighted;
}

.header .container-title{
 margin-left: 20px;   
}

.header .title-group i {
    padding-right: 5px;
}